img {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.g_carousel-container {
  width: 100%;
  height: 4.3rem;
  position: relative;
  background: #fff;
  overflow: hidden;
}
.g_carousel-container .g_carousel-list {
  height: 100%;
  transition: 0.5s;
}
.g_carousel-container .g_carousel-list li {
  float: left;
  width: 7.5rem;
  height: 100%;
}
.g_carousel-container .g_carousel-list li img {
  width: 100%;
  height: 100%;
}
.g_carousel-container .g_carousel-indicator {
  position: absolute;
  width: 100%;
  height: 0.17rem;
  bottom: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.g_carousel-container .g_carousel-indicator li {
  width: 0.17rem;
  height: 0.17rem;
  background: #67b1ff;
  transform: rotate(45deg);
  margin-right: 0.15rem;
}
.g_carousel-container .g_carousel-indicator li.selected {
  background: #202629;
}
.g_carousel-container .g_carousel-prev,
.g_carousel-container .g_carousel-next {
  width: 0.6rem;
  height: 1.2rem;
  background: url(../assets/btn-lefRight.png) no-repeat;
  background-size: 7.03rem 1.2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.g_carousel-container .g_carousel-prev.disabled,
.g_carousel-container .g_carousel-next.disabled {
  opacity: 0.35;
}
.g_carousel-container .g_carousel-prev {
  left: 0.2rem;
}
.g_carousel-container .g_carousel-next {
  background-position: -6.43rem 0;
  right: 0.2rem;
}
.login {
  position: fixed;
  text-shadow: 0.01rem 0.01rem #000;
  font-size: 0.24rem;
  font-weight: bold;
  right: 0;
  top: 1.2rem;
  z-index: 99;
}
.login p {
  color: #fff;
  font-size: 0.24rem;
  display: inline-block;
}
.login a {
  font-size: 0.24rem;
  color: #fff;
}
